/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    font-family: fantasy;
}

body {
    /*background-color: rgb(78, 78, 78);*/
    /*background: url(https://i.pinimg.com/originals/64/aa/6d/64aa6df2428f2ae45190b480e13ebd38.jpg) fixed center;
    background-position: center;
    background-attachment: fixed;
    width: 100%;*/
    background-image: url(https://i.pinimg.com/originals/64/aa/6d/64aa6df2428f2ae45190b480e13ebd38.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-toggler{
    justify-items: right;
    background-color: dimgray;
}

/*.bg {
    width: 100%;
    height: 100%;
    position: relative;
}

.bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://img.freepik.com/free-vector/brick-wall-realistic_1284-4683.jpg?w=826&t=st=1649644377~exp=1649644977~hmac=e4034e3b17690b841afc11eb999e0c1065e0f8b0f70b7da24a86bb8ce01670fe);
    z-index: -1;
    background-size: cover;
    background-position: center;
}*/
.logo {
    width: 80px;
    height: 50px;
}

    .logo img {
        width: 100%;
    }

.menu {
    position: relative;
    width: 85%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
}

.menu ul li {
    padding: 25px;
}

* li {
    list-style: none;
    font-size: 24px;
}

li a {
    text-decoration: none;
    color: rgb(21, 21, 21);
}

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
